[submodule "frontend"]
	path = frontend
	url = https://github.com/CrayonTeamJ/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/CrayonTeamJ/backend.git
[submodule "backend_model"]
	path = backend_model
	url = https://github.com/CrayonTeamJ/backend_model.git
